* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallary {
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C74B3;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* gap: 20px; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.c2 {
    margin-bottom: 50px;
    position: relative;
    width: 45%;
    width: fit-content;
    height: 400px;
    background-color: #fff;
}


.room {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    background-image: none;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0 rgb(187, 187, 187);
}

#image {
    border-radius: 5px;
    width: 30%;
    height: 60%;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 40px;
}

.file-upload {
    display: inline-block;
    padding: 10px;
    /* background-color: #979797ec; */
    /* background-image: url('./res/room_1.jpg'); */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.file-upload img {
    width: 16px;
    vertical-align: middle;
    /* filter: invert(40%); */
}

.file-upload-image, .file-upload-room {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    /* background-color: #ffffff; */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 60px;
    right: 10px;
}

.hover:hover {
    background: blur(5px);
}

.file-upload-room {
    bottom: 10px;
    right: 10px;
}

.palette {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.palette .color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0 rgb(187, 187, 187);
}

.backgrounds {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.backgrounds .room-option {
    min-width: 120px;
    aspect-ratio: 4/3;
    /* margin: 5px; */
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0 rgb(187, 187, 187);
}

.hidden {
    display: none;
}

#reset {
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffffee;
    width: 30px;
    aspect-ratio: 1;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 10px;
}

#reset:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}